* {
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */

.nav {
  width: 100%;
  height: 5em;
  background-color: rgb(255, 180, 17);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 5;
  position: relative;
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 1em;
}

.burger-bar {
  width: 4em;
  height: 0.5em;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  height: fit-content;
  margin-top: 3rem;
  background-color: rgb(0, 183, 255);
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 4;
  border-radius: 2em;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
  padding-top: 4em;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* -------Moav Button----------- */
.btn-all-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.btn-R-mobile {
  margin-bottom: 1em;
  width: 10rem;
  height: 7vh;
  background: rgb(194, 46, 150);
  color: white;
  border-radius: 45px;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Rubik', sans-serif;
}

.btn-R-mobile:hover {
  border: 3px solid rgb(194, 46, 150);
  background: white;
  color: rgb(194, 46, 150);
  font-size: 1.5em;
}

/* ------------Logo--------------- */
.kiddle-logo-mobile {
  width: 17rem;
  transform: rotateY(45deg);
  margin: 0;
  cursor: pointer;
  z-index: 999;
  transform: skew();
}
.kiddle-logo-mobile:hover {
  transform: rotateY(45deg) scale(1.1);
}

/* -------------nav menu -------------- */
.nav-menu-mobile-1 {
  display: grid;
  grid-template-rows: repeat(3, auto);
  /* grid-gap: 10px; */
  list-style: none;
  padding: 2em;
  align-items: center;
  text-align: left;
  justify-items: start;
  cursor: pointer;
  /* margin-top: 1rem; */
}

.nav-menu-mobile-1 > .nav-links {
  text-decoration: none;
  color: white;
  font-weight: 700;

  font-size: 2rem;
  white-space: nowrap;
  font-family: 'Rubik', sans-serif;
}

.nav-menu-mobile-1 > .nav-links i {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.nav-item-mobile {
  padding: 1rem 0;
}
.nav-item-mobile:hover {
  background-color: rgb(0, 173, 237);
}

/* ----------------coin-------------------- */

.div-coin-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(194, 46, 150);
  border-radius: 2rem;
  justify-content: space-around;
  width: 150px;
  height: 7vh;
  margin-left: 1em;
}

.icon-flip {
  font-size: 3rem;
  margin-top: 6rem;
  margin-right: 1em;
  color: rgb(255, 180, 17);
  z-index: 999;
}
.coin-counter {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

@media (max-width: 350px) {
  * {
    margin: 0;
    padding: 0;
  }
  .nav {
    width: 100%;
  }
  .kiddle-logo-mobile {
    position: absolute;
    top: 1em;
    left: 7em;
    /* width: max-content; */
    width: 70%;
  }
  .burger-menu {
    margin-left: 1rem;
  }
  .btn-R-mobile {
    width: 7.375rem;
    height: 6vh;
    font-size: 1em;
  }
  .nav-links {
    font-size: 1rem;
  }
}

/* Mobile */
@media (min-width: 351px) and (max-width: 430px) {
  .nav {
    width: 100%;
  }
  .kiddle-logo-mobile {
    position: absolute;
    top: 1em;
    left: 9em;
    /* width: max-content; */
    width: 70%;
  }
  .burger-menu {
    margin-left: 1rem;
  }
  .btn-R-mobile {
    width: 9rem;
    height: 6vh;
    font-size: 1em;
  }
  .nav-links {
    font-size: 1rem;
  }
}

/* Tablet */
@media (min-width: 431px) and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  .nav {
    width: 100%;
  }

  .menu {
    width: 40%;
  }
  .nav-links {
    font-size: 1rem;
  }
  .btn-R-mobile {
    width: 9rem;
    height: 6vh;
    font-size: 1em;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .nav {
    width: 100%;
  }

  .menu {
    width: 40%;
  }
  .nav-links {
    font-size: 1.3rem;
  }
  .btn-R-mobile {
    /* width: 9rem;
    height: 6vh; */
    font-size: 1.5em;
  }
}
@media (min-width: 801px) and (max-width: 1023px) {
  .nav {
    width: 100%;
  }

  .menu {
    width: 30%;
  }
  .nav-links {
    font-size: 1.3rem;
  }
  .btn-R-mobile {
 
    font-size: 1.5em;
  }
}
